extends email-layout

block content
  h2 Восстановление пароля
  p Добрый день! Нажмите на кнопку "Восстановить Пароль", чтобы продолжить. Ссылка действует в течение часа.
  +button(resetURL, 'Восстановить Пароль →')
  p Используйте данную ссылку, если не работает конопка "Восстановить Пароль": #{resetURL}
  br
  p Проигнорируйте содержание письма, если вы не запрашивали восстановление пароля.
