extends layout

include mixins/_paymentForm

block meta
  meta(charset="UTF-8")
  title= `О Компании | ${h.siteName}`
  meta(name="description" content=`Вся информация о компании ${h.siteName}. Узнайте больше о нашем проекте и его целях.`)
  link(rel="canonical" href=`https://topkovorking.ru/about`)
  link(rel='stylesheet', href='/dist/style.css')
  link(rel="shortcut icon" type="image/png" href="/images/icons/crownn.png")
  meta(name="viewport" content="width=device-width, initial-scale=1")

block content
    .inner
        .front-header
            h1 О Компании
        .front-header
            p Компания <strong>Topkovorking</strong> предоставляет услуги онлайн сервиса для поиска коворкингов. Данный сегмент общественных офисов активно развивается. Сегодня в Москве насчитывается <strong>более 100</strong> подобных площадок для совместной работы. 
            p Основная <strong>аудитория</strong> коворкингов - растущее количество фрилансеров, стартапов и сотрудников, работающих удаленно.
            p Сегодня, некоторые коворкинги <strong>трансформируются</strong> в многофункциональные пространства, где проводятся различные конференции и образовательные мероприятия.
            p Онлайн приложение Topkovorking позволяет <strong>выбрать</strong> оптимальное рабочее место исходя из стоимости, местоположения и оценок пользователей. Мы также <strong>освящаем</strong> главные события, которые проходят на базе ключевых коворкинг площадок.
            p С уважением,<br><br>
                | Команда <strong>Topkovorking.ru</strong><br>
