extends layout

include mixins/_companyCard
include mixins/_pagination
include mixins/_miningCalculator
include mixins/_subwaySearch
include mixins/_newsCard

block content
  .inner
    .front-header.welcome
      .search__img__container
        img.front__single--img(src="https://res.cloudinary.com/dlmeqtsfq/image/upload/c_scale,h_300,q_auto,w_800/v1534342409/topkovorking/topkovorking-800x300.jpg" alt="коворкинги москвы")
        .front-header__container
          h1.front-page-heading  Коворкинги Москвы
          ul.front-page-subhead
            li Мы нашли более 30 коворкингов в Москве
            li Поиск коворкингов по округам Москвы
            li Коворкинги - адреса на карте, телефон, цены и отзывы

      .front-header.welcome
        script(async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        // Topkovorking Front
        ins.adsbygoogle(style="display:block" data-ad-client="ca-pub-6206685891062723" data-ad-slot="3639345073" data-ad-format="auto" data-full-width-responsive="true")
        script.
          (adsbygoogle = window.adsbygoogle || []).push({});

    h2 Коворкинги по Округам и Районам
    ul.tags
      each t in tagsEng
        li.tag
          a.tag__link(href=`/okrug/${(t.slg)}`)
            span.tag__text= t._id
            span.tag__count= t.count
    .companies
      each company in companies
        +companyCard(company)
    +pagination(page, pages)

  .front-header.below-pagination
    h2 Коворкинги
    p <strong>Бурный</strong> рост количества фрилансеров, стартаперов и начинающих бизнесменов привёл к тому, что появилась потребность создавать совершенно <strong>новые</strong>, альтернативные пространства для их совместной работы. Одним из форматов подобных пространств стал <strong>коворкинг</strong>. Первый коворкинг появился в <strong>2005</strong> году в Сан-Франциско, тогда как в <strong>Москве</strong> подобные заведения стали открываться с 2010 года.
    p Не всем, кто работает удалённо, подходит каждый день «фрилансить» из дома. Домашний быт часто не располагает к <strong>рабочему</strong> настрою. Гораздо <strong>удобнее</strong> работать в коворкингах – пространствах, где под одной крышей объединяются люди свободных профессий. Вместо постороннего шума и других отвлекающих факторов здесь их ждёт рабочая атмосфера на базе современной площадки.  
    h2 Аренда Коворкина
    p Коворкинг (с англ. «co-working» переводится как «совместная работа») представляет собой помещение, <strong>разделённое</strong> на общие и отдельные рабочие зоны. Общие зоны – это пространства <strong>опен-спейс</strong>, где есть столы с рабочими местами, доступ в Интернет, а в каких-то случаях ещё и ноутбуки. <strong>Отдельные</strong> помещения в коворкингах чаще всего бывают 2-х типов:
    ul
        li Отдельные офисы для организации переговоров (встреч с заказчиками, обсуждения проектов с коллегами, деловых бесед с бизнес-партнёрами);
        li Площадки для проведения обучающих мероприятий (мастер-классов, бизнес-тренингов и презентаций). 
    p Довольно часто коворкинги предлагают своим посетителям ряд <strong>дополнительных</strong> услуг: распечатку документов, секретарские услуги, бухгалтерскую поддержку, помощь в создании юридического лица и др.
    p Многие площадки располагают собственными <strong>лаунж зонами</strong>, где вечером после работы можно выпить кофе, <strong>отдохнуть</strong> на удобных диванчинах и обсудить текущие дела с коллегами. 

  .front-header.below-pagination
    h2.front-header-news Предстоящие Мероприятия
    .events-stream
      each n in news
        +newsCard(n)