extends layout

include mixins/_companyForm

block meta
  meta(charset="UTF-8")
  title= `${title} | ${h.siteName}`
  meta(name="description" content=`Добавить компанию на сайт ${h.siteName}`)
  link(rel="canonical" href=`https://topkovorking.ru/add`)
  link(rel='stylesheet', href='/dist/style.css')
  link(rel="shortcut icon" type="image/png" href="/images/icons/crownn.png")
  meta(name="viewport" content="width=device-width, initial-scale=1")
block content
  .inner
    h2 #{title}
    +companyForm(company)
