extends layout

block meta
  meta(charset="UTF-8")
  title= `Коворкинг что это? | Рассказываем простыми словами`
  meta(name="description" content=`Что такое коворкинг, какие виды бывают, сколько стоит посещение коворкинга, все преимущества, история. Рассказываем простыми словами на сайте ${h.siteName}.`)
  link(rel="canonical" href=`https://topkovorking.ru/chto-takoe-kovorking`)
  link(rel='stylesheet', href='/dist/style.css')
  link(rel="shortcut icon" type="image/png" href="/images/icons/crownn.png")
  meta(name="viewport" content="width=device-width, initial-scale=1")

block content
    .inner
        main
            article.entry
                header.entry-header
                    h1 #{title}
                    p.entry-meta
                        - const postDate = h.moment.locale("ru")
                        span.entry-time= `Опубликовано: ${h.moment(1521107532872).format("LL")}`
                .entry-content
                    p В коворкинг-пространства приходят те, кто устаёт работать дома в <strong>одиночестве</strong>. Как правило, это айтишники и люди, занятые творческими профессиями:
                    ul
                        li Работники сферы IT (веб-программисты, разработчики ПО, сеошники) 
                        li Писатели, редакторы, переводчики
                        li Дизайнеры, художники, архитекторы 
                    p Посетителями коворкинг-центров нередко становятся и <strong>бизнесмены</strong> (начинающие предприниматели, создатели стартапов, маркетологи и бизнес-тренеры). Арендовать рабочее пространство в коворкинге можно на <strong>любое</strong> количество человек и на любой срок (на день, неделю или месяц), а это становится выгодным для тех, у кого есть команда, но нет своего офиса.
                    img(src="https://res.cloudinary.com/dlmeqtsfq/image/upload/c_scale,h_1000,q_auto,w_900/v1521108239/moscow-coworking-900x1000_ytgent.jpg" alt="что такое коворкинг")
                    h2 
                        strong Сколько стоят коворкинги в Москве?
                    p <strong>Средняя</strong> стоимость посещения <a href="https://topkovorking.ru/" target="_blank">коворкинга в Москве</a> составляет от 15000 до 25000 тыс. рублей в месяц. В день аренда рабочей зоны с компьютером и Интернетом обходится в 700-1500 рублей.
                    p В зависимости от уровня комфорта и спектра предоставляемых услуг коворкинги условно делятся на следующие виды:  
                    ol
                        li <strong>Коворкинги премиального уровня.</strong> Довольно часто такие коворкинги представляют собой закрытые клубы с доступом по <strong>клубной карте</strong>. В стоимость услуг, как правило, входят бизнес-семинары и неформальные мероприятия, проходящие на площадках клуба. Цена клубной карты в таком коворкинге составляет 20-50 тыс. рублей в месяц.
                        li <strong>Средний уровень.</strong> Это самый распространённый вид коворкингов, где клиенты получают доступ к рабочему пространству и всей сопутствующей инфраструктуре. В стоимость, как правило, включен Интернет, чай/кофе, оргтехника, а иногда – секретарские и юридические услуги. В этом случае, стоимость аренды места варьируется от 700 до 1500 рублей в день.
                        li <strong>Недорогие коворкинги.</strong> Более низкая ценовая категория обычно предполагает <strong>урезанный</strong> набор дополнительных услуг (например, только рабочее место и доступ в Интернет), а также менее проработанное внутренне пространство. Здесь стоимость аренды может колебаться в пределах 300-400 рублей за день.
                    p Тарифы коворкингов могут меняться в зависимости от наличия поблизости метро,  собственного паркинга и удаленности от центра Москвы.
                    p Стоимость рабочего места также зависит от того будет ли оно за вами <strong>закреплено</strong>. За фиксированное место приходится доплачивать. Незакреплённое место (т.е. любое свободное место в пространстве коворкинга) естественно стоит дешевле. 
                    h2 
                        strong Преимущества и недостатки работы в коворкингах
                    p Посещение коворкинга – это нечто <strong>среднее</strong> между работой из дома и нахождением в офисе. У этой новой модели бизнес-пространства есть свои преимущества и недостатки.  
                    p К некоторым плюсам коворкингов можно отнести: 
                    ul
                        li Расширение круга общения, знакомство с интересными людьми, работающими в смежных направлениях
                        li Смена обстановки и возможность вырваться из атмосферы домашнего быта 
                        li Посещение бесплатных бизнес-семинаров, курсов, тренингов и мастер-классов, проходящих на территории коворкинга (для резидентов такие мероприятия часто оказываются <strong>бесплатными</strong>).
                        li Бесплатный доступ к оргтехнике и высокоскоростной доступ в Интернет. 
                    p Пожалуй, одним из возможных недостатков работы в коворкинге может стать усталость от постоянного нахождения в шумном пространстве опен спейс наравне с десятками других работников. С другой стороны, всегда есть возможность остаться дома и насладиться одиночеством.
                    h2 
                        strong Коворкинги в России
                    p Как это ни странно, первый коворкинг в РФ появился отнюдь не в Москве, а в <strong>Екатеринбурге</strong>. Коворкинг был открыт в 2008 году и стал называться «Башня», но через год его пришлось <strong>закрыть</strong>…
                    p В 2010-2011 гг. коворкинг-центры стали появляться уже в других городах России. 
                    p Изначально открытие коворкингов в стране встречало много <strong>препятствий</strong>, т.к. в нашем законодательстве ещё не был прописан этот вид деятельности. В этом смысле Москве повезло больше всего.
                    p В 2012 году правительство само изъявило желание поддерживать данное направление, запустив проект «Москва: Коворкинг 2.0».
                    p По замыслу Департамента науки, промышленной политики и предпринимательства Москвы, данный проект должен был простимулировать развитие малого и среднего бизнеса в столице.
                    p В Москве рынок коворкингов продолжает развиваться бурными темпами. К концу 2017 года в столице насчитывалось более 100 коворкингов различных форматов:
                    ul
                        li Офисные коворкинги (для работы и проведения переговоров)
                        li Антикафе (рабочие пространства, совмещенные с кафе)
                        li Творческие мастерские (специализированные пространства для дизайнеров, швей, ювелиров и др.)
                        li Коворкинги, ориентированные на детей и родителей
                    p Помимо частных коворкингов в Москве появляются центры, образованные при поддержке <strong>государства</strong> (например, «Коворкинг ВАО»). 
                    h2 
                        strong Будущее коворкингов
                    p Значительный приток <strong>инвестиций</strong> на рынок коворкингов обеспечивает его рост по всему миру. Если в 2010 году в мире насчитывалось <strong>всего</strong> 661 коворкингов, то уже к 2020 году их число может достичь <strong>25 тысяч</strong>. 
                    p В последнее время открываются коворкинги <strong>нового</strong> формата, где рабочие зоны <strong>объединяются</strong> с хостелами, апарт-отелями и антикафе. 
                    p Такие «офисы будущего» позволяют людям работать, есть и спать в <strong>одном</strong> пространстве. Это особенно <strong>выгодно</strong> для тех, кто приезжает в город в командировку и не имеет финансовой возможности снимать жильё.
