mixin forgotForm()
  form.form(action="/account/forgot" method="POST")
    h2 Восстановить пароль
    label(for="email") Email 
    input(type="email" name="email")
    input.button(type="submit" value="Отправить")
