mixin paginationNews(page, pages)
  .pagination
    .pagination__prev
      if page > 1
        a(href=`/news/page/${page - 1}`) Назад
    .pagination__text
      p Страница #{page} из #{pages}
    .pagination__next
      if page < pages
        a(href=`/news/page/${parseFloat(page) + 1}`) Вперед
