mixin paymentForm()
    form(method="POST" action="https://money.yandex.ru/quickpay/confirm.xml")
        input(type="hidden" name="receiver" value="410015305070355")
        input(type="hidden" name="formcomment" value="topkovorking.ru")
        input(type="hidden" name="label" value="16078")
        input(type="hidden" name="quickpay-form" value="shop")
        input(type="hidden" name="targets" value="Test Покупка Topkovorking.ru")
        input(type="hidden" name="sum" value="100.00" data-type="number")
        input(type="hidden" name="need-fio" value="false")
        input(type="hidden" name="need-email" value="true")
        input(type="hidden" name="need-phone" value="false")
        input(type="hidden" name="need-address" value="false")
        input(type="hidden" name="paymentType" value="AC")
        input(type="hidden" name="successURL" value="https://topkovorking.ru")
        input(type="submit" value="Оплатить" class="button")