mixin subwaySearch()

  .search__subway__front
      input(type="text" id="subway__front" autocomplete="off" spellcheck="false" name="subway__front" placeholder="Станция метро...")
      .search__subway__front--results
      input.button(type="submit" value="Найти")



      